{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}My Site{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'screener/styles.css' %}">
    <script src="{% static 'screener/scripts.js' %}" defer></script>
    
</head>
<body>
    {% block content %}
    <p>This is the main content area. Child templates will override this.</p>
    {% endblock %}

</body>
</html>